

* {
    padding: 0;
    margin: 0;
    border: 0;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

footer, header, aside {display: block;}

html {
    scroll-behavior: smooth;
}   

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

body {
    font-size: 12px;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 26px;
    padding-top: 32px;
    padding-left: 20px;
    font-weight: 400;
}
h2 {
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    margin-bottom: 10px;
}

.wrap {
    background: -webkit-linear-gradient(bottom,#fff 31%, #91C3DE 31%);;
}
.header {
    margin: 0 auto;
    width: 335px;
}
.container {
    display: flex;
    padding: 0 0 0 20px;
    min-height: 190px;
    background: -webkit-linear-gradient(top,#fff 55%, #91C3DE 55%);
    
}
.photo {
    margin-top: 35px;
}
.photo img {
    display: block;
    height: 170px;
    width: auto;
}
.comment {
    width: 125px; 
    height: 30px;
    background: #91C3DE;
    position: relative;
    }
.comment:before {
    content: "";
    width: 0; 
    height: 0;
    position: absolute; 
    top: 100%; 
    right: calc(50% - 45px); 
    border-top: 15px solid #91C3DE; 
    border-left: 15px solid transparent;
}
.about {
    font-size: 12px;
    margin-top: 11px;
    margin-left: 32px;
}
.welcome {
    color: #fff;
    text-align: center;
    padding-top: 5px;
    font-weight: 300;
    line-height: 10px;
    letter-spacing: 0.06em;
}
.text {
    text-align: justify;
    line-height: 14px;
    font-weight: 300;
    margin-top: 15px;
    padding-right: 22px;
    letter-spacing: 0.05em;
}
.contacts {
    display: flex;
    margin-left: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    line-height: 16px;
}
.answer a:focus {
    background-color: #91C3DE;
}
.heading {
    letter-spacing: 0.03em;
}
.answer {
    margin-left: 21px;
    letter-spacing: 0.06em;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    background-color: #fff;
    margin: 0 5px 5px 32px;
    padding: 5px 0;
    position: relative;
}
.icons a:focus {
    background-color: #91C3DE;
}
.button {
    display: block;
    margin: 15px auto 0;
    padding: 5px 10px;
    background-color: #fff;
    font-size: 11px;
    font-weight: bold;
    color: #91C3DE;
    border: 4px solid #000;
}
.button:hover,
.button:focus {
    box-shadow: 4px 4px 0px #91C3DE;
}
.open {
    display: block;
}
.box {
    display: none;
    margin-top: 15px;
    background-color: #91C3DE;
}
.websites {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.website {
    width: 100%;
    padding: 25px 25px 0;
}
.website img{
    display: block;
    border: 4px solid #000;
    width: 100%;
    height: auto;
}
.tooltip {
    z-index: 9999;
    position: absolute;
    display: none;
    top:0px;
    left:0px;
    font-size: 14px;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    color: #000;
    border: 1px solid #888;
    box-shadow: 3px 3px 0px #91C3DE;
  }
@media (max-width: 1920px) {
    /* .header {
        width: 90%;
    }
    h1 {
        font-size: 700%; 
    }
    h2 {
        font-size: 500%;
    }
    .photo {
        width: 25%;
    }
    .photo img{
        display: block;
        width: 100%;
        height: auto;
    }
    .about {
        font-size: 400%;
    }
    .comment {
        width: 70%;
        height: 100px;
    }
    .comment:before {
        content: "";
        position: absolute; 
        top: 100%; 
        right: calc(50% - 440px); 
        border-top: 3em solid #91C3DE; 
        border-left: 3em solid transparent;
    }
    .welcome {
        padding-top: 5%;
    }
    .text {
        padding-top: 10%;
        line-height: 100%;
    } */
    .website {
        width: 40%;
    }
}
@media (max-width: 768px) {
    .website {
        width: 100%;
    }
}